<link rel="stylesheet" href="/footer.css">


<div class="footer-container">
  <div class="footer-wrapper">
    <div class="footer-content">
      <div class="footer-sections">
        <div class="main-section">
          <div class="content-grid">
            <div class="brand-section">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/492139c731ef815c701b4f304eb7607c179dc06947b5613560061941e23cc733?placeholderIfAbsent=true&apiKey=d7cebeeadab64378ab4fc611373387df"
                class="brand-logo"
                alt="NOVA brand logo"
              />
              <div class="brand-description">NOVA is an e-commerce website that <br> sells skincare products.</div>
              <div class="social-links">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/157a8817381a72a261b4d0247f98b3601946fefa5b024ca9eb4c7fc3bdde0be8?placeholderIfAbsent=true&apiKey=d7cebeeadab64378ab4fc611373387df"
                  class="social-icon"
                  alt="Facebook icon"
                  aria-label="Facebook"
                />
                <div class="instagram-wrapper">
                  <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/120dd5f9f2078dc648b1f827b981d151af53fddc1972d5d673d22c0ee5787d51?placeholderIfAbsent=true&apiKey=d7cebeeadab64378ab4fc611373387df"
                    class="instagram-icon"
                    alt="Instagram icon"
                    aria-label="Instagram"
                  />
                </div>
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/88cbdc11bb3518d95eb2d34506fa3da82c1197fdc63b5942e9364922d9c03e7e?placeholderIfAbsent=true&apiKey=d7cebeeadab64378ab4fc611373387df"
                  class="social-icon"
                  alt="Twitter icon"
                  aria-label="Twitter"
                />
              </div>
            </div>
            <div class="footer-column">
              <div class="column-title"><a href="">SUPPORT</a></div>
              <div class="link-list">
                <div tabindex="0"><a href="">FAQ</a></div>
                <div class="link-item" tabindex="0"><a href="">Terms of Use</a></div>
                <div class="link-item" tabindex="0"><a href="">Privacy Policy</a></div>
              </div>
            </div>
            <div class="footer-column">
            
              <div class="link-list">
                <div tabindex="0"><a href="/about">About Us</a></div>
                
              </div>
            </div>
            <div class="footer-column">
              <div class="column-title"><a href="/list-products">SHOP</a></div>
              <div class="link-list">
                <div tabindex="0"><a href="/profile">My Account</a></div>
                <div class="link-item" tabindex="0"><a href="/checkout">Checkout</a></div>
                <div class="link-item" tabindex="0"><a href="/cart">Cart</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-column">
          <div class="payment-section">
            <div>ACCEPTED PAYMENTS</div>
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/10c92b30dbe8680d8ef37f1e62b46e805dfd6b0c7a30bff079faa6c1033208aa?placeholderIfAbsent=true&apiKey=d7cebeeadab64378ab4fc611373387df"
              class="payment-methods"
              alt="Accepted payment methods"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-text">© 2024 SULTHAN SHA N. All rights reserved.</div>
  </div>
</div>


