
<link rel="stylesheet" href="/notifi.css">

<div class="notification-banner" role="banner">
  <div class="banner-content">
    <p class="promo-text">Get 25% OFF on your first order.</p>
    <a href="/cart" class="cta-link" tabindex="0">Order Now</a>
  </div>
</div>