<link rel="stylesheet" href="/profile.css">
<title>{{title}}</title>

{{>header}}
<div class="account-settings">
  <div class="breadcrumb-container">
    <div class="breadcrumb">About</div>
    
  </div>
  <div class="div">
    <div class="div-2">
      <div class="column">
      </div>
        <div class="text-center"  style="width: 45%;
    height: 100%;
    font-size: larger;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
    background-color:transparent" >
            Welcome to NOVA Store your trusted destination for premium skincare products. At NOVA, we believe that radiant, healthy skin is the foundation of confidence and self-care. Our mission is to provide high-quality skincare essentials crafted to nourish, protect, and enhance your natural beauty. Whether you're creating a new routine or elevating your skincare game, NOVA has everything you need to shine your brightest.
             </div>
    </div>
  </div>
</div>

{{>footer}}

