<title>{{title}}</title>
{{>header}}
<style>
body{
     background-color: #f7f1e9;
}
</style>

<section style="background-color: #f6f6f6;">
    <div class="container">
        <div class="row p-5 text-center">
            <h2>Order Successful</h2>
        </div>

    </div>
</section>
<section>
    <div class="container text-center p-5">
        <div style="margin-left: 37%;">
    <dotlottie-player src="https://lottie.host/407862dd-3d2a-4cb5-b9e6-624078921ee4/WvI8ncA6Dm.lottie" background="transparent" speed="1" style="width: 300px; height: 300px" loop autoplay></dotlottie-player>
      </div>
        <h4>Thank you for shopping</h4>
        <p>Your order has been successfully placed and is now being processed.</p>
        <a href="/home">
        <button type="button" class="btn btn-primary px-3">Go to Homepage..</button></a>
    </div>

</section>


{{>footer}}

<script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
